body {
  font-size: 16px;
  background-color: #E72812;
  font-family: 'Sahitya', sans-serif;
}

div#back-img {
  background-image: url('../img/1.jpg');
}
.light {
  opacity: 0.7;
}
/** HEADER **/
#header-nav {
  background-color: #F8AADE;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 {
  font-family: 'AbrilFatface', serif;
  color: #FD3A84;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border: 1.5px solid black;
  background: #F8C471;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
/* END HEADER */

/* HOME PAGE */
.menu-title {
  color: #FD3A84;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
#menu-item, .menu-item-title{
  font-weight: bold;
  color:#FD3A84;
  padding-top: 5px;
  text-align: center;
}
#menu-item{
  background-color: #FAD7A0;
  padding: 20px;
  color: #922B21;
}
/* END HOME PAGE */



/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  .container .menu-title {
    margin-top: 10px;
    padding: 0;
  }
}

/********** Medium and Large devices only **********/
@media (min-width: 768px) {
  #header-nav {
    height: 100px;
  }
}
/* End Header */

