
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 60px;
}

p {
  width: 90%;
  height: 140px;
  margin: 25px;
  color: black;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  position: relative;
}

.region {
	border: 1px solid black;
	display: block;
	background-color: #5F9EA0;
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	width: 150px;
	margin-bottom: 100px;
	text-align: center;
	font-size: 20px;
}


#region1 {
	background-color: #CD5C5C;
}
#region2 {
	background-color: #FF0000;
}
#region3 {
	background-color: #FFD700;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    border: 1px solid black;
    position: relative;
    background-color: #808080;
    margin: 1.5%;
    position: relative;
  }
  .col-lg-4 {
    width: 30%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
    background-color: #808080;
    margin: 1.5%;
    position: relative;
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-12 {
    width: 97%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12{
    float: left;
    border: 1px solid black;
    background-color: #808080;
    margin-bottom: 3%;
    position: relative;
  }
  .col-sm-12 {
    width: 100%;
  }

}